<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.business.sys.dao.SysMenuDao">

    <select id="getAuthMenu" resultType="com.business.sys.entity.SysMenu" parameterType="java.util.List">
        SELECT
			uuid,
			menu_pid,
			menu_pids,
			is_leaf,
			code,
			menu_name,
			url,
			icon,
			level,
			sort,
			status,
			description,
			type,
			create_time,
			create_user_uuid,
			update_time,
			update_user_uuid
		FROM
			sys_menu
		WHERE
			uuid IN (
			SELECT DISTINCT
				menu_id
			FROM
				sys_role_menu
		WHERE
			role_id IN
			<foreach collection="roleIds" item="roleId" index="index" open="(" close=")" separator=",">
				#{roleId}
			</foreach>
			)
    </select>

	<select id="getMenu" resultType="com.business.sys.entity.SysMenu" parameterType="com.business.sys.entity.SysMenu">
		SELECT
			uuid,
			menu_pid,
			code,
			menu_name,
			url,
			icon,
			level,
			sort,
			description
		FROM
			sys_menu
		<where>
			<if test="type != null and type != ''">
				type = #{type}
			</if>
		</where>
	</select>

</mapper>
