<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.business.sys.dao.SysUserDao">

    <select id="info" resultType="com.business.sys.entity.SysUser" parameterType="com.business.sys.entity.SysUser">
        SELECT
            uuid,
            username,
            phone,
            name as name
        FROM
            sys_user
        WHERE
            username = #{username} or phone = #{username}
    </select>

    <select id="getUserList" resultType="com.business.sys.dto.SysUserDto" parameterType="com.business.sys.dto.SysUserDto">
        SELECT
            uuid,
            role_id,
            org_id,
            username,
            phone,
            mail,
            name,
            sex,
            avatar,
            remarks,
            enabled
        FROM
            sys_user
    </select>

    <insert id="addSingleUser" parameterType="com.business.sys.entity.SysUser">
        INSERT INTO sys_user ( uuid, username, password, phone, name ) SELECT
            #{uuid},
            #{username},
            #{password},
            #{phone},
            #{name}
        FROM
            sys_user
        WHERE
            NOT EXISTS (
            SELECT
                username,
                phone
            FROM
                sys_user
            WHERE
            username = #{username}
            OR phone = #{phone})
    </insert>

    <update id="selectiveUpdateUser" parameterType="com.business.sys.entity.SysUser">
        UPDATE sys_user
        <set >
            <if test="roleId != null" >
                role_id = #{roleId},
            </if>
            <if test="orgId != null" >
                org_id = #{orgId},
            </if>
            <if test="mail != null" >
                mail = #{mail},
            </if>
            <if test="name != null" >
                name = #{name},
            </if>
            <if test="sex != null" >
                sex = #{sex},
            </if>
            <if test="avatar != null" >
                avatar = #{avatar},
            </if>
            <if test="remarks != null" >
                remarks = #{remarks},
            </if>
            <if test="enabled != null" >
                enabled = #{enabled},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime},
            </if>
            <if test="updateUserUuid != null" >
                update_user_uuid = #{updateUserUuid},
            </if>
        </set>
        WHERE uuid = #{uuid}
    </update>

</mapper>
