<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.business.sys.dao.SysUserDao">

    <select id="info" resultType="com.business.sys.entity.SysUser" parameterType="com.business.sys.entity.SysUser">
        SELECT
            uuid,
            username,
            phone,
            name as name
        FROM
            sys_user
        WHERE
            username = #{username} or phone = #{username}
    </select>

    <select id="getUserList" resultType="com.business.sys.dto.SysUserDto" parameterType="com.business.sys.dto.SysUserDto">
        SELECT
            uuid,
            role_id,
            org_id,
            username,
            phone,
            mail,
            name,
            sex,
            avatar,
            remarks,
            enabled
        FROM
            sys_user
    </select>

    <insert id="addSingleUser" parameterType="com.business.sys.entity.SysUser">
        INSERT INTO sys_user ( uuid, username, password, phone, name ) SELECT
            #{uuid},
            #{username},
            #{password},
            #{phone},
            #{name}
        FROM
            sys_user
        WHERE
            NOT EXISTS (
            SELECT
                username,
                phone
            FROM
                sys_user
            WHERE
            username = #{username}
            OR phone = #{phone})
    </insert>

</mapper>
