<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.business.security.business.dao.SysUserDao">

    <select id="selectUserByUsername" resultType="com.business.security.business.dto.UserDetailsDto">
        SELECT
            user_name as username,
            password as password
        FROM
            sys_user
        WHERE
            user_name = #{userName} or phone = #{userName}
    </select>

</mapper>
